[submodule "wiki"]
	path = wiki
	url = https://github.com/miguelsrmv/42Porto-Transcendence.wiki.git

[submodule "srcs/requirements/blockchain/tools/TournamentsStorage/lib/forge-std"]
	path = srcs/requirements/blockchain/tools/TournamentsStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "srcs/requirements/blockchain/tools/contracts/TournamentsStorage/lib/openzeppelin-contracts"]
	path = srcs/requirements/blockchain/tools/contracts/TournamentsStorage/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
